.hero {
  display: flex;
  align-items: center;
  max-width: 1090px;
  background: linear-gradient(
    44deg,
    rgba(205, 16, 255, 0.05) 15.75%,
    rgba(159, 6, 255, 0.05) 84.63%
  );
  border-radius: 0px 20px 20px 0px;
  margin-bottom: 100px;
  margin-top: 30px;

  &__wrap {
    display: flex;
    justify-content: center;
    margin-top: 134px;
    margin-bottom: 94px;
    position: relative;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__title {
    color: var(--c-primary);
    font-family: var(--ff-second);
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    width: 537px;
  }

  &__desc {
    color: var(--c-desc);
    font: var(--desc);
    margin-bottom: 40px;
    width: 560px;
  }

  &__button {
    padding: 21px 49px;
    color: var(--c-text-white);
    font-family: var(--ff-secondary);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 100px;
  }

  &__image {
    display: flex;
    border-radius: 20px 20px 20px 20px;
    background: #001a49;
    box-shadow: 0px 32px 44px 0px #818a8c;
    width: 590px;
    height: 360px;
    flex-shrink: 0;
    position: absolute;
    justify-content: center;
    align-items: center;
    left: 90%;
    top: 7%;
    img {
      cursor: pointer;
    }
  }
}

.hero-student {
  display: flex;
  align-items: center;
  gap: 70px;

  &__img {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__two {
    position: absolute;
    top: 1px;
    left: 27px;
  }
  &__three {
    position: absolute;
    top: 1px;
    left: 60px;
    z-index: 1;
  }

  &__text {
    color: var(--c-desc);
    font-size: 16px;
    font-weight: 400;
    span {
      color: #9f07ff;
    }
  }
}
